
@mixin button-proto ($size: 40px, $bg: #ffffff, $hover: #ddd, $fz: 18px, $text: #1c1c1c, $bdrs: 2px) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $bdrs;
    font-size: $fz;
    color: $text;
    height: $size;
    line-height: $size;
    background: $bg;
    transition: background 0.3s;
    cursor: pointer;

    &:hover {
        background: $hover;
    }

    &:active {
        background: $bg;
    }
}

@mixin button-icon ($size: 40px, $hover: #ddd, $fz: 18px, $text: #1c1c1c, $bg: #ffffff) {
    width: $size;
    @include button-proto($size, $bg, $hover, $fz, $text, 50%);
}

@mixin button ($bg: #ffffff, $hover: #ddd, $h: 40px, $bdrs: 2px, $fz: 18px, $text: #1c1c1c) {
    @include button-proto($h, $bg, $hover, $fz, $text, 2px);
}


@mixin bxshd($tr: .1s, $blur: 7px, $spread: 2px, $opacity: 0.15) {
    box-shadow: $bxshd;
    transition: box-shadow $tr ease-in-out;

    &:hover {
        box-shadow: 0px $spread $blur 1px rgba(0, 0, 0, $opacity);
    }
}

@mixin coverdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@mixin bg($size: cover) {
    background-size: $size;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-color: #eee;
}

// background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
// background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
// background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
