// fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$text: #272727;
$bxshd: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
