// text
.font-light {
    font-weight: $font-weight-light;
}

.font-regular {
    font-weight: $font-weight-regular;
}

.font-heavy {
    font-weight: $font-weight-heavy;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

// display
.d-flex {
    display: flex;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: eng;
}

.hidden-sm {
    display: none;
}

.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
