$app-background: #F9F9FB;
$app-padding: 0 10px;
$puzzle-width: 400px;

html,
body {
    height: 100%;
    width: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $app-background;
    padding: $app-padding;
    background: #f6f4f5;
}

#puzzle {
    position: relative;
    display: block;
    max-width: $puzzle-width;
    width: 100%;
    min-height: 100px;
}

#sentry-check {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #FF3D00;
    opacity: 0.7;
    transition: opacity 0.2s ;
    &:hover {
        opacity: 1;
    }
    &:active {
        opacity: 0.7;
    }
}
